
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
.imageContainer {
    position: relative; 
    width: 80vw; /* 80% of the viewport width */
    height: 80vh; /* 80% of the viewport height */
    max-width: 1000px; /* The maximum width of the image */
    max-height: 600px; /* The maximum height of the image */
  }
  